@import url('https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.col {
  background-color: #666699;
  border: 1px solid #800000;
}

.main {
  color: #79a8d8;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.header {
  background-color: #042547;
  height: 20%;
}

.oswald-font {
  font-family: 'Oswald', sans-serif;
}

.body {
  color: #800000;
  height: 60%;
  
}

.menu {
  width: 30%;
  border-left: #042547 solid 2px;
  padding: 0;
}

.display {
  width: 70%;
  border-left: #042547 solid 2px;
  border-right: #042547 solid 2px;
}

.menu .item {
  background: #79a8d8;
  border-bottom: #042547 solid 2px;
  border-top: #042547 solid 2px;
  padding-bottom: 25px;
  border-radius: 10%;
  margin-top: 10px;
}

.menu .item:last-child {
 margin-bottom: 10px;
}

.menu .item:hover {
  background: #0f0e5c;
  color: #d7e1eb;
}

.menu .item:active {
  background: #0f0cd8;
}

.footer {
  background-color: #042547;
  height: 20%;

}

.title {
  font-size: 50px;
  margin-right: 20%;
}

.form {
  border-right: #042547 solid 2px;
  height: 100%;
}

.form input {
  width: 100%;
}


